attrs==23.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==4.0.1
google-generativeai==0.7.2
idna==3.7
imageio==2.34.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy_loader==0.4
MarkupSafe==2.1.5
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
protobuf==4.25.4
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
streamlit==1.37.0
Werkzeug==3.0.3
